<div class="toBePlaced">
	<div class="row" *ngFor="#entryArr of gridPlaced.elements" [style.height]="cellHeight + 'px'">
		<div class="cell" *ngFor="#entry of entryArr" [style.width]="cellWidth + 'px'" [style.height]="cellHeight + 'px'">
			
		</div>
	</div>
</div>
<div class="placed">
<div class="row" *ngFor="#entryArr of gridPlaced.elements" [style.height]="cellHeight + 'px'">
	<div class="cell" *ngFor="#entry of entryArr" [style.width]="cellWidth + 'px'" [style.height]="cellHeight + 'px'">
		
	</div>
</div>
</div>